<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

  <!-- <nav class="white"></nav> -->
  <ul id="slide-out" class="side-nav   light-blue lighten-2">
    <nav class="light-blue lighten-2">
      <a href="/"><i class="material-icons center-align black-text"  class="icone">dashboard</i> </a>
    </nav >
    <li><a href="/chamados"> <i class="material-icons">view_list</i> Chamados</a> </li>
  </ul>
  <a class="btn" data-activates="slide-out"> <i class="material-icons">Menu</i> </a>


  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script>
  $(".btn").sideNav();

</script>
</body>
</html>
