<% include ./includes/header.ejs %>


<div class="row log-panel " >
  <!-- <h1 class="">Pedidos</h1> -->
  <form class="col s12" action="/auth" method="post">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" id="user" name="user" class="validate">
        <label for="disabled">Login</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>

    <div class="">
      <div class="col s12 m12 l12">
        <input type="submit" class="waves-effect btn log-btn" value="Entrar">
      </div>
    </div>

  </form>
</div>


<% include ./includes/footer.ejs %>
